<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Matt D. Correa</mat-card-title>
    <mat-card-subtitle>Web Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/profile.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Mi nombre es Matt, soy programador fronted desde la joven edad de 12 años, empece con el backend alrededor de hace 4 años. Programar suele ser incluso un pasatiempo que me entretiene;
      generalmente soy muy inquieto y me gusta indagar mucho sobre tecnologia.
    </p>
  </mat-card-content>
</mat-card>
