a{
  text-decoration: none;
}

.example-button-row button, .example-button-row a {
  margin-right: 8px;
}
.example-spacer {
  flex: 1 1 auto;
}

main {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}


